:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --grey: #eee;
    --dark-grey: #222831;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    background: var(--grey);
    color: var(--black);
    line-height: 1.6;
  }
  
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container-div {
    width: 40rem;
    border: 2px solid var(--grey);
    padding: 2rem;
    background-color: var(--light-blue);
    color: var(--white);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .container-div > * {
    margin-bottom: 2rem;
  }
  
  .btn {
    margin: 0;
  }

  p {
    margin: 0 !important;
    padding: 0 !important;
  }